.carousel_BG {
  position: relative;
}
.img_play_carousel {
  border: 0;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.6;
  transition: all 0.8s;
}
.img_play_carousel:hover {
  transition: all 0.8s;
  opacity: 0.9;
}
